<div class="container">
    <h1>Travellers</h1>
    
    <%= form_tag(traveller_list_path, method: :get, class: "form-inline my-2 my-lg-0")  do %>
        <%= text_field_tag :from, params[:from], placeholder: 'From', class: "form-control mr-sm-2" %> 
        <%= text_field_tag :to, params[:to], placeholder: 'To', class: "form-control mr-sm-2" %> 
        <%= text_field_tag :capacity, params[:capacity], placeholder: 'Capacity', class: "form-control mr-sm-2" %> 
        <%= submit_tag('Search', name: :nill, class: "btn btn-success my-2 my-sm-0") %>
    <%end%>
    </br>
    <% if @journeys %>
        <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Traveller</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @journeys.each do | journey | %>
                        <tr>
                            <th scope="row">1</th>
                            <td><%=journey.from%></td>
                            <td><%=journey.to%></td>
                            <td><%=journey.user.firstname%></td>
                            <td><%=journey.capacity%></td>
                            <td>
                                <%= form_tag(new_order_path, method: :get, class: "form-inline my-2 my-lg-0")  do %>
                                    <%= hidden_field_tag :traveller_id, journey.user_id %>
                                    <%= submit_tag('place an order', name: :nill, class: "btn btn-success my-2 my-sm-0") %>
                                <%end%>
                            </td>
                        </tr>                        
                    <%end%>
                </tbody>
            </table> 
    <% end %>
</div>