<div class="row">
    <div class="col-12">
        <%= form_with model: [@sender, @order ] do |f| %>
        <div class="form-group">
            <%= f.label :receiver_name %>
            <%= f.text_field :receiver_name, autofocus: true, autocomplete: 'receiver_name', class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :receiver_phone %>
            <%= f.text_field :receiver_phone, autocomplete: 'receiver_phone', class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :receiver_address %>
            <%= f.text_area :receiver_address, autocomplete: 'receiver_address', class: 'form-control' %>
        </div>

        <h3>Items</h3>
        <div id='items'>
            <%= f.fields_for :items do | item | %>
            <%= render 'item_fields', :f => item %>
            <% end %>
            <div class='links'>
            <%= link_to_add_association 'add item', f, :items, class: "btn btn-primary btn-sm" %>
            </div>
        </div>

        <div class="actions">
            <%= f.submit(@order.new_record? ? "Create" : "Update" , class: "btn btn-outline-success top-margin" )%>
        </div>
        <% end %>

    </div>
</div> 