<div class="card mb-4">
<div class="card-body text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
    class="rounded-circle img-fluid" style="width: 150px;">
    <h5 class="my-3"><%=@sender.firstname%></h5>
    <p class="text-muted mb-1"><%=current_user_credential.user_type%></p>
    <p class="text-muted mb-4"><%= address(@sender.city, @sender.state, @sender.country) %></p>

    <div class="d-flex justify-content-center mb-2">
        <%= link_to "Edit", edit_sender_path, class: "btn btn-outline-success my-2 my-sm-0 left-margin" %>
        <%= link_to "Delete Profile", sender_path(@sender), method: :delete, class: "btn btn-outline-danger my-2 my-sm-0 left-margin" %> 
    </div>
</div>
</div>