<div class="row">
    <div class="col-12">
        <%= form_with model: @journey do |f| %>
            <% if @journey.errors.any? %>
                <ul>
                    <% @journey.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>
            <div class="form-row">
                <div class="form-group col-md-6" data-controller="from" data-action="map-loaded@window->from#initGoogle" >
                    <label for="from">From</label>
                    <input class="form-control" type="text" id="from" data-from-target="input" autocomplete="off">
                    <input type="hidden" name="journey[from]" data-from-target="city">
                </div>

                <div class="form-group col-md-6" data-controller="to" data-action="map-loaded@window->to#initGoogle" >
                    <label for="from">To</label>
                    <input class="form-control" type="text" id="to" data-to-target="input" autocomplete="off">
                    <input type="hidden" name="journey[to]" data-to-target="city" >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= f.label :departure_date %>
                    <%= f.text_field :departure_date, autocomplete: 'departure_date', class: 'form-control' %>
                </div>

                <div class="form-group col-md-6">
                    <%= f.label :arrival_date %>
                    <%= f.text_field :arrival_date, autocomplete: 'arrival_date', class: 'form-control' %>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= f.label :capacity %>
                    <%= f.number_field :capacity, autocomplete: 'capacity', class: 'form-control' %>
                </div>

                <div class="form-group col-md-6">
                    <%= f.label :rate %>
                    <%= f.text_field :rate, autocomplete: 'rate', class: 'form-control' %>
                </div>
            </div>

            <% if !@journey.new_record? && @journey.not_completed? %>
                <div class="actions">
                    <%= f.radio_button :status, "completed" %>
                    <%= f.label :status, "completed" %><br>
                </div>
            <% end %>
            <div class="actions">
                <%= f.submit(@journey.new_record? ? "Create" : "Update" , class: "btn btn-outline-success")%>
            </div>
        <% end %>
    </div>
</div>