<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <%= link_to "CourierPlease", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <% if current_user %>
                    <% if current_user.has_role? :traveller %>
                        <li class="nav-item active">
                            <%= link_to "Profile", profile_path, class: "nav-link" %>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Journey
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% if Journey.not_completed_journey(current_user.id).any? %>
                                    <%= link_to "Current Journey", journey_path(Journey.not_completed_journey_id(current_user.id)), class: "dropdown-item" %>
                                <% end %>
                                <% if Journey.completed_journies(current_user.id).any? %>
                                    <%= link_to "History", journeys_path, class: "dropdown-item" %>
                                <% end %>
                            </div> 

                        </li>
                        <li class="nav-item">
                            <%= link_to "Orders", orders_path, class: "nav-link" %>
                        </li>
                    <% elsif current_user.has_role? :sender %>
                        <li class="nav-item active">
                            <%= link_to "Profile", profile_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Travellers List", traveller_list_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Orders", orders_path, class: "nav-link" %>
                        </li>
                    <%end%>
                <% end %>
            </ul> 
            
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <% if !current_user %>
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0 left-margin" %>
                <%else%>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0 left-margin" %>
                <%end%>
            </form>

        </div>
    </div>
</nav>